@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  //background-color: #f8f8f8;
  //background-color: #fffdf2;
  //background-color: #e9e9eb;
  //background-color: #ffffff;
  //background-color: #101010;
  background-color: #e0e0e0;
  scroll-behavior: smooth;
}

.about-section {
  //background-color: #0657a2;
  //background-color: #064a8a;
  //background-color: #053f75;
  //background-color: #000000;
  //background-color: #3e619b;
  //background-color: #f7f8fb;
  //background-color: #e1f390;
  //background-color: #c1e0a9;
  //background-color: #eeeeee;
  //background-color: #222222;
  background-color: #e0e0e0;
}

.marquee {
  position: relative;
  overflow-x: hidden;
  min-height: 42px;
  --move-initial: calc(-25%);
  --move-final: calc(-50%);
}

.marquee_inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 30s linear infinite;
}

.marquee span {
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
