@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f8f8f8;
}

.about-section {
  background-color: #0657a2;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 640px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 640px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  .header-name {
    font-size: 90px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {
  .header-name {
    font-size: 110px;
  }
}

@media only screen and (min-width: 1536px) {
  .header-name {
    font-size: 140px;
  }
}

@media only screen and (min-width: 1920px) {
  .header-name {
    font-size: 180px;
  }
}
